/*  your css code here. If applicable */
.container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 3px solid black;
    border-radius: 40px;
    text-align: center;
    background-color: #d3d3d3;
}

/* Circles */
.red, .green, .yellow {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 15px;
}

/* Colors */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}